* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.App {
  min-height: 100vh;
  margin: 0 auto;
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

aside {
  flex: 1;
}

.grid-container {
  display: grid;
  gap: 2rem;
  padding: 1rem 2rem;
}
